<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Order_detail</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to order_details_path, class: button_class(theme: "transparent") do %>
      All Order_details
      <% end %>
      <%= link_to edit_order_detail_path(@order_detail), style: "background-color: #E98A9F; color: white; padding: 0.5rem 1rem; border-radius: 0.25rem;" do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @order_detail.quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Order:</p>
        <p><%= @order_detail.order %></p>
      </li>
      <li>
        <p class="font-semibold">Product:</p>
        <p><%= @order_detail.product.productname %></p>
      </li>
  </ul>
</div>
