<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Product</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to products_path, class: button_class(theme: "transparent") do %>
      All Products
      <% end %>
      <%= link_to edit_product_path(@product), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p><span class="font-semibold">Productname:</span>
        <%= @product.productname %></p>
      </li>
      <li>
        <p><span class="font-semibold">Price:</span>
        <%= format_price(@product.price) %></p>
      </li>
      <li>
        <p><span class="font-semibold">Stock:</span>
        <%= @product.stock %></p>
      </li>
      <li>
      <p><span class="font-semibold">Category:</span>
        <%= @product.category.categoryname %></p>
      </li>
      <li>
      <p><span class="font-semibold">Brand:</span>
        <%= @product.brand.brandname %></p>
      </li>
      <li>
      <p>
        <% if @product.image.attached? %>
          <%= image_tag @product.image %>
        <% else %>
          No image available
        <% end %>
      </p>
      </li>
  </ul>
</div>
